<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishTrimmed>false</PublishTrimmed>
    <PublishDir>$(MSBuildThisFileDirectory)..\..\release\PrintersHero-Traveler-Print-Agent\</PublishDir>
  </PropertyGroup>
</Project>
